$yellow:rgba(255, 208, 80, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(35, 37, 54, 1);
$meduim-grey-transparent: rgba(109, 110, 118, 0.1);
$meduim-grey: rgba(109, 110, 118, 1);
$purple: rgba(89, 46, 169, 1);
$light-yellow: rgba(251, 246, 234, 1);
$light-grey:rgba(244, 244, 244, 1);
$dark-grey:rgb(48, 45, 59);
$form-grey: rgb(70, 66, 77);
$mint: #F4F0F8;



$bp0: 1000px;
$bp1: 850px;
$bp2: 730px;
$bp3: 530px;